# VacationPy

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

In [3]:
# Store Part I results into DataFrame (Load the csv exported in Part I to a DataFrame)
file_path = "../WeatherPy/output_data/cities.csv"

cities_df = pd.read_csv(file_path)
cities_df.head()

,City,Latitude,Longitude,Max Temperature (°F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country Code,Date & Time
0,ornskoldsvik,63.2909,18.7153,10.40,92,0,8.05,SE,1612824056
1,longyearbyen,78.2186,15.6401,14.00,52,0,10.36,SJ,1612824065
2,labuhan,-6.8844,112.2051,77.81,86,92,7.40,ID,1612824071
3,iqaluit,63.7506,-68.5145,21.20,86,75,4.50,CA,1612824072
4,hobart,-42.8794,147.3294,57.99,54,75,11.50,AU,1612823997

### Humidity Heatmap

In [46]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Isolate location data and humidity data
coordinates = cities_df[["Latitude","Longitude"]]
humidity = cities_df["Humidity (%)"]

# Build heatmap using data
fig = gmaps.figure(center = (30, 0), zoom_level = 1.8,layout={'width':'900px','height':'600px'})

heat_layer = gmaps.heatmap_layer(coordinates, weights = humidity, dissipating = False,
                                max_intensity = 100, point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='600px', width='900px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [64]:
# Create dataframe of cities matching ideal weather conditions
ideal_df = cities_df.loc[(cities_df["Max Temperature (°F)"] >= 72) & (cities_df["Max Temperature (°F)"] < 80) \
                        & (cities_df["Wind Speed (mph)"] < 10) & (cities_df["Cloudiness (%)"] < 10) \
                        ].reset_index(drop=True)

ideal_df

,City,Latitude,Longitude,Max Temperature (°F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country Code,Date & Time
0,saint-pierre,-21.3393,55.4781,77.00,73,0,3.44,RE,1612824017
1,saint-philippe,-21.3585,55.7679,77.00,69,0,8.05,RE,1612824191
2,banda aceh,5.5577,95.3222,77.92,81,8,8.19,ID,1612824194
3,pilar,-9.5972,-35.9567,77.00,83,0,5.75,BR,1612824231
4,meulaboh,4.1363,96.1285,76.12,87,2,3.33,ID,1612824279
5,ancud,-41.8697,-73.8203,77.00,47,0,8.05,CL,1612823996
6,mecca,21.4267,39.8261,72.82,35,0,3.53,SA,1612824295
7,alamos,27.0167,-108.9333,73.99,57,0,5.99,MX,1612824375
8,la orilla,17.9833,-102.2333,79.72,64,0,9.42,MX,1612824207
9,grand gaube,-20.0064,57.6608,75.00,84,3,1.99,MU,1612824513
10,maceio,-9.6658,-35.7353,77.00,83,0,5.75,BR,1612824415
11,imbituba,-28.2400,-48.6703,75.20,73,0,8.05,BR,1612824448
12,port augusta,-32.5000,137.7667,78.01,60,0,5.75,AU,1612824643

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure